body {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: paleturquoise;
}

h2 {
color: yellow;
}

p {
    color: grey;
    letter-spacing: 2px;
}

.header {
    background-color: palegreen ;
}

.main_div button {
    width: 130px;
    margin-top: 20px;
}

#acc {
    margin-top: 10px;
}

.footer {
    position: fixed;
    background-color: antiquewhite;
    width: 100%;
    text-align: center;
    bottom: 0;
    font-size: 18px;
    line-height: 3;
    text-shadow: 5px 5px 5px orange;
}